h1, h2 {
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
}

p {
  font-size: 16px;
  margin-bottom: 32px;
  font-weight: 200;
}

.banner {
  background-image: linear-gradient(rgba(36, 26, 26, 0.4), rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3062539/pexels-photo-3062539.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  padding: 50px;
  background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
  background-blend-mode: screen, overlay, hard-light, normal;
}

.banner h1, .banner p {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}
