.card img{
  width: 100px;
}

.card {
  width: 200px;
  height: 350px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
  border-radius: 12px;
}
