.footer {
  background: radial-gradient(100% 225% at 100% 0%, #FAFF00 0%, #000000 100%), linear-gradient(235deg, #DB00FF 0%, #000000 100%), linear-gradient(45deg, #241E92 0%, #241E92 40%, #5432D3 40%, #5432D3 50%, #7B6CF6 50%, #7B6CF6 70%, #E5A5FF 70%, #E5A5FF 100%), linear-gradient(180deg, #01024E 0%, #01024E 43%, #543864 43%, #543864 62%, #8B4367 62%, #8B4367 80%, #FF6464 80%, #FF6464 100%);
  background-blend-mode: overlay, hard-light, overlay, normal;
  height: 150px;
}

.footer p {
  color: white;
  display: flex;
  font-size: 12px;
  justify-content: center;
}

.footer-social {
  display: flex;
  color: white;
  font-size: 26px;
  padding: 25px;
  justify-content: space-around;
  align-items: center;
}

.instagram{
  color: white;
}
.instagram:hover {
  color: rgb(184, 38, 184);
  transition: 0.3s;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);;

}
.facebook {
  color: white;
}
.facebook:hover {
  color: rgb(0, 81, 255);
  transition: 0.3s;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);;
}
.pinterest {
  color: white;
}
.pinterest:hover {
  color: red;
  transition: 0.3s;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);;
}
